.mobile-menu {
  display: none;
}
body{
  position: relative;
}
/****************ショッピングカートのデザイン*************************************************************************************************/
.shopping-cart{
  width: 150px;
  height: 150px;
  position: fixed;
  background-color: #d7ad10;
  bottom: 5%;
  right: 5%;
  z-index: 999;
  border-radius: 6px;
  border: 1px solid #c0c0c0;
  outline: 1px solid #c0c0c0;
  outline-offset: 2px;
  transition: .5s all;
}
/*詳細ボタンを押された場合のレイアウト*/
.shopping-cart-large{
  width: calc( 100vw * 0.6 );
  height: calc( 100vh * 0.7);
  transform: translate(-30%, -20%);
  outline: none;
  border: none;
  border-radius: 0;
  background-color: rgb(242, 249, 233);
  box-shadow: 1px 2px 5px  #c0c0c0;
  overflow-y: scroll;
}
/*詳細ボタンを押された場合にデフォルトのアイコン等を非表示*/
.shopping-cart-default-none{
  display: none;
}

.shopping-cart-icon{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.shopping-cart-img{
  width: 80px;
  height: 30px;
}
.shopping-cart-item-count{
  display: flex;
  width: 10px;
  height: 10px;
  padding: 5px;
  line-height: 1;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  border-radius: 50%;
  margin-left: -30px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
}
.shopping-cart-title{
  color: white;
  text-align: center;
  font-weight: bold;
  
}
.shopping-cart-link{
  width: 90%;
  display: flex;
  font-size: 15px;
  background-color: darkgreen;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  line-height: 2;
}
.shopping-cart-link:hover{
  background-color: lightgreen;
}
/*買い物かごの中身*/
.shopping-cart-infomation{
  display: none;
}
.shopping-cart-infomation-show{
  display: block;
  overflow-y: scroll;
}
/*ショッピングカート拡大時のタイトル*/
.shopping-cart-infomation h1{
  color: #522f60;
  font-size: 32px;
  font-family: "DNP ShueiNMinStd";
  line-height: 1.2;
  letter-spacing: 0.11em;
  text-align: center;
  margin-top: calc(100vw * 0.05);
}
.shopping-cart-infomation p{
  width: 85%;
  margin: 10px auto 0;
  color: #522f60;
}
/*ショッピングカート拡大時のテーブル*/
.shopping-cart-table{
  width: 85%;
  background-color: white;
  border-collapse: collapse;
  margin: 0 auto;
}
.shopping-cart-table th{
  background-color: #f0f0f0;
  line-height: 3;
  color: #522f60;
}
.shopping-cart-table td{
  line-height: 3;
}
/**ショッピングカート開いた場合のボタン*/
.shopping-cart-buttos{
  width: 85%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
/*ショッピングカート情報閉じるボタン*/
.shopping-cart-close{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c0c0c0;
  border: none;
  color: #FFFFFF;
  line-height: 4;
}
.oreder-link-button{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #522f60;
  border: none;
  color: #FFFFFF;
  line-height: 3.5;
  text-decoration: none;
}
.shopping-cart-close:hover, .oreder-link-button:hover{
  opacity: 0.7;
}


/**ヘッダー関連 ******************************************************/
header {
  width: 980px;
  margin: 0 auto;
  padding: 0;
  border: none;

}

header .logo-image {
  text-align: center;
  padding-top: 25px;
  margin-bottom: 60px;
}

header nav {
  width: 980px;
  margin: 0;
  padding: 0;

}

header nav ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul li {
  width: 172px;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

header nav ul li:hover {
  background-color: orange;
}

header nav ul li svg {
  width: 41px;
  height: 38px;
}

header nav ul li a {
  display: flex;
  align-items: center;
  color: black;
  font-family: dnp-shuei-4go-std, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 0.77;
  margin-left: 10px;
  text-decoration: none;


}
header nav ul li a img {
  width: 40px;
  height: 40px;
}
/********ログイン時のメニュー*************/
.owner{
  display: flex;
  align-items: center;
  position: relative;
}
.owner img{
  width: 40px;
  height: 40px;
}
#ownerbox{
  display: none;
}
.menu-label{
  display: flex;
  align-items: center;
}
.owner-ul{
  background-color: #f0f0f0;
  display: block;
  width: 200px;
  position: absolute;
  top: 2.4rem;
  right: 0;
  left: 40%;
  opacity: 0;
  transition: .5s;
  z-index: 2;
  padding: 4px 0;
}

.owner-ul::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #f0f0f0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -8%;
  left: 5%;
  z-index: 3;
}
.owner-ul::before:hover{
  background-color: orange;
}

#ownerbox:checked ~ .owner-ul{
  opacity: 1;
  transform: translateX(-30%);
}
/**********ログイン時サブメニュー関連************************/
.sub-menu-list{
  width: 100%;
  line-height: 1;
  color: darkblue;
  margin:  0 auto;
  padding: 1rem 0;
}
.sub-menu-link{
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}

.sub-menu-icons{
  display: block;
  width: 5px;
  height: 5px;
  margin-right: 10px;
}
/************************************フッター************************************************************************/
footer {
  width: 100%;
  background-color: #522f60;
  height: 152px;
  margin: 0;
  padding: 0;
  position: absolute;
}

footer .top-jump {
  border-radius: 50%;
  background-color: #522f60;
  content: "top";
  color: #FFFFFF;
  display: inline-block;
  font-size: 24px;
  font-family: "DNP ShueiNMinStd";
  line-height: 1.2;
  letter-spacing: 0.11em;
  position: absolute;
  padding-top: 8px;
  text-align: center;
  left: 50%;
  top: -32%;
  width: 220px;
  height: 150px;
  transform: translateX(-50%);
  text-decoration: none;
  z-index: 1;

}

footer ul {
  display: flex;
  list-style: none;
  margin: 55px auto 0;
  position: relative;
  justify-content: space-between;
  padding: 0;
  width: 90vw;
  z-index: 2;
}

footer ul li a {
  color: white;
  font-size: 23.9px;
  font-family: "DNP ShueiNMinStd";
  line-height: 1.2;
  letter-spacing: 0.11em;
  text-decoration: none;
}

footer small {
  color: white;
  display: block;
  font-size: 24.05px;
  font-family: "DNP ShueiNMinStd";
  position: absolute;
  text-align: center;
  letter-spacing: 0.11em;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/*
*
*
/
/******************************************モバイル*************************************************************************/
@media  screen and (max-width: 979px) {
  /****************************モバイル専用********************************************************************************/
  header{
    width: 100%;
  }
    .logo-image {
      display: none;
    }
  
    .global-nav {
      display: none;
    }
  
    .mobile-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
      width: 100vw;
  
    }
    .mobile-menu svg{
      width: 80px;
      height: 31px;
    }
  
    .mobile-menu input[type="checkbox"] {
      display: none;
    }
  
    .drower {
      display: block;
      position: fixed;
      width: 100vw;
      height: 80vh;
      top: 0;
      left: 200%;
      z-index: 10;
      background-color: white;
      border: 1px solid #c0c0c0;
      transition: .5s;
      overflow: scroll;
    }
  
    .drower section {
      padding-top: 4rem;
  
    }
  
    .drower section .wrapper {
      text-align: center;
    }
  
    .drower .menu-title {
      color: #522f60;
      display: inline-block;
      font-size: 22px;
      font-family: "AB-roman";
      line-height: 1.2;
      letter-spacing: 0.15em;
      transform: matrix(2.72301170426066, 0, 0, 1.42495671296005, 0, 0);
      position: relative;
    }
  
    .drower .menu-title::before {
      content: "";
      display: inline-block;
      width: 88%;
      border: 2.5px solid #522f60;
      ;
      top: 110%;
      position: absolute;
    }
  
    .drower ul {
      list-style: none;
      margin: 50px 0 0 0;
      padding: 0;
    }
  
    .drower ul li {
      display: flex;
      align-items: center;
      font-size: 21px;
      font-family: "DNPShuei4goStd";
      font-weight: bold;
      color: rgb(0, 0, 0);
      line-height: 1.2;
      transform: matrix(1.01062824695933, 0, 0, 0.9250062731286, 0, 0);
      margin-bottom: 50px;
      width: 100%;
  
    }
    .drower ul li a{
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: black;
    }
  
    .drower ul li img {
      width: 30px;
      height: 30px;
    }
  
    #menu-label span {
      display: inline-block;
      width: 23px;
      height: 5px;
      background-color: black;
      position: relative;
      transition: .5s;
      z-index: 12;
    }
  
    #menu-label span::before {
      content: "";
      display: inline-block;
      width: 23px;
      height: 5px;
      background-color: black;
      position: absolute;
      top: -10px;
      transition: .5s;
    }
  
    #menu-label span::after {
      content: "";
      display: inline-block;
      width: 23px;
      height: 5px;
      background-color: black;
      position: absolute;
      top: 10px;
      transition: .5s;
    }
    /*****************ログイン時のドロワーメニュー設定***************************************************************************************/
    .owner-mobile{
      width: 100%;
      background-color: beige;
    }
  
    .mobile-menu input[type="checkbox"]:checked~#menu-label span {
      background-color: transparent;
    }
  
    .mobile-menu input[type="checkbox"]:checked~#menu-label span::before {
      transform: rotate(45deg);
      top: 0px;
    }
  
    .mobile-menu input[type="checkbox"]:checked~#menu-label span::after {
      transform: rotate(-45deg);
      top: 0px;
    }
  
    .mobile-menu input[type="checkbox"]:checked~.drower {
      left: 0;
    }
    /*********************ログイン後の表示に関するスタイル***********************************************/
    .owner-mobile{
      width: 100%;
      margin-top: -2rem;
      box-sizing: border-box;
    }
    .owner-mobile dt{
      border-left:solid 6px #522f60;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 1rem 0;
    }
    .owner-mobile dt img{
      margin-right: 5px;
      width: 30px !important;
      height: 30px !important;
    }
    .owner-items{
      display: block;
      width: 100%;
      padding: 1rem 0;
      background-color: white;
      border-bottom: 1px dotted #c0c0c0;
      box-sizing: border-box;
      text-align: left !important;
      margin: 0;
    }
    .owner-items a, .logout-mobile-btn{
      display: flex !important;
      align-items: center !important;
      justify-content: flex-start !important;
      border: none;
      background-color: transparent;
      font-size: 18px;
      font-weight: bold !important;
    }
        .shopping-cart-infomation {
          position: relative;
        }
    
        /*ショッピングカート拡大時のタイトル*/
        .shopping-cart-infomation h1 {
          color: #522f60;
          font-size: calc(100vw * 0.05);
          font-family: "DNP ShueiNMinStd";
          font-weight: bold;
          line-height: 1.2;
          letter-spacing: 0.11em;
          text-align: center;
          margin-top: calc(100vw * 0.1);
        }
    
        /*詳細ボタンを押された場合のレイアウト*/
        .shopping-cart-large {
          width: 100vw;
          height: calc(100vh * 0.5);
          transform: translate(10%, -20%);
        }
    
        .shopping-cart-infomation p {
          font-size: calc(100vw * 0.02);
          margin-top: 30px;
        }
    
        .shopping-cart-table {
          width: 100%;
          font-size: calc(100vw * 0.02);
        }
    
        /**ショッピングカート開いた場合のボタン*/
        .shopping-cart-buttos {
          width: 95%;
          margin: 30px auto;
          display: block;
          position: sticky;
          bottom: 1rem;
        }
    
        .shopping-cart-buttos * {
          width: 100%;
          margin-bottom: 10px;
          font-size: calc(100vw * 0.02);
        }
    
        .oreder-link-button {
          line-height: 4;
        }
    /************************************フッター************************************************************************/
    footer {
      width: 100%;
      height: auto;
      background-color: #522f60;
      margin: 0;
      padding: 0;
    }

    footer .top-jump {
      border-radius: 50%;
      background-color: #522f60;
      content: "top";
      color: #FFFFFF;
      display: inline-block;
      font-size: 24px;
      font-family: "DNP ShueiNMinStd";
      line-height: 1.2;
      letter-spacing: 0.11em;
      position: absolute;
      padding-top: 8px;
      text-align: center;
      left: 50%;
      top: -12%;
      width: 150px;
      height: 100px;
      transform: translateX(-50%);
      text-decoration: none;
      z-index: 1;

    }

    footer ul {
      display: block;
      list-style: none;
      text-align: center;
      position: relative;
      padding: 0;
      width: 100vw;
      z-index: 2;
      margin-top: 3rem;
    }

    footer ul li {
      margin-bottom: 33px;
    }

    footer ul li a {
      color: white;
      font-size: 21.27px;
      font-family: "DNP ShueiNMinStd";
      line-height: 1.2;
      letter-spacing: 0.11em;
      text-decoration: none;
    }

    footer small {
      color: white;
      display: block;
      font-size: 11px;
      font-family: "DNP ShueiNMinStd";
      text-align: center;
      letter-spacing: 0.11em;
    }
  }
  
