html {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/************************************フラッシュ*********************************************************************************************/
.flash{
  font-style: italic;
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: green;
  color: white;
  margin: 1rem auto;
}

/**
**/
.shop-name {
  font-size: 12px;
  font-family: "DNP ShueiNMinStd";
  color: rgb(7, 68, 30);
  line-height: 1.2;
  margin-top: 32px;
}

main {
  display: block;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.shop {
  width: 100vw;
}

.shop .info {
  text-align: center;
}

/******タイトル*********/
.shop .info h3 {
  font-size: 28px;
  font-family: "DNP ShueiNMinStd";
  color: rgb(7, 68, 30);
  line-height: 1.2;
  letter-spacing: 0.16em;
  margin-top: 34px;
}

.order-link {
  color: white;
  display: flex;
  font-size: 10px !important;
  font-weight: bold;
  letter-spacing: 0.18em;
  align-items: center;
  justify-content: center;
  background-color: #522f60;
  width: calc(100vw * 0.3) !important;
  height: calc(100vw * 0.1) !important;
  text-decoration: none;
  margin-top: 50px !important;
}

.order-link a:hover {
  opacity: 0.8;
}

/********店舗情報テーブル***************/
.shop .info .shop-table {
  display: block;
  width: 100vw;
  background-color: #f0f0f0;
  border-collapse: collapse;
  padding: .7rem 0 2rem 0;
  margin-top: 12px;
}

.shop .info .shop-table th {
  display: block;
  font-size: 16px;
  font-family: "DNP ShueiNMinStd";
  font-weight: bold;
  color: rgb(82, 47, 96);
  line-height: 1.2;
  letter-spacing: 0.18em;
  text-align: left;
  padding-top: 1.4rem;
}

.shop .info .shop-table td {
  display: block;
  font-size: 25px;
  font-family: "DNP ShueiNMinStd";
  font-weight: bold;
  color: rgb(82, 47, 96);
  line-height: 1.2;
  letter-spacing: 0.18em;
  text-align: left;
  padding-top: .45rem;

}

.shop .info .edit {
  color: white;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  background-color: #522f60;
  width: calc(100vw * 0.9);
  height: calc(100vw * 0.17);
  text-decoration: none;
  margin: 35px auto;

}

.shop .info a:hover {
  background-color: #7c4c8f;
}

/**********************************商品リスト*****************************************************************/
/**
 商品リスト欄
**/
.itemlists {
  width: calc(100vw * 0.9);
  margin: 0 auto 9.6rem;
}

.itemlists h3 {
  text-align: center;
  font-size: 28px;
  font-family: "DNP ShueiNMinStd";
  color: rgb(7, 68, 30);
  line-height: 1.2;
  letter-spacing: 0.16em;
  padding-top: 6px;
}

.itemlists .btn {
  color: white;
  display: flex;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  background-color: #522f60;
  width: calc(100vw * 0.3);
  height: calc(100vw * 0.1);
  text-decoration: none;
  margin-top: 11px;
}

.itemlists .btn:hover {
  background-color: #7c4c8f;
}

/******
リスト
**/
.itemlists ul {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}

.itemlists ul .list {
  display: block;
  border: 1px solid #522f60;
  border-radius: 6px;
  margin: 0 auto;
  margin-bottom: 28px;
  position: relative;
  height: calc(100vw * 0.72);
  width: calc(100vw * 0.9);
}

/**カード内リンク */
.itemlists ul .list .link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**画像、価格**/
.itemlists ul .list .img-price {
  display: block;
  width: 100%;
}

.itemlists ul .list .img-price .item-img {
  display: block;
  width: calc(100vw * 0.25);
  height: calc(100vw * 0.25);
  border-radius: 50%;
  object-fit: cover;
  margin-top: 3px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

}

.itemlists ul .list .img-price .price .name {
  font-size: calc(100vw * 0.0615);
  font-family: "DNP ShueiNMinStd";
  font-weight: bold;
  color: rgb(7, 68, 30);
  line-height: 1.2;
  letter-spacing: 0.16em;
  margin-top: -2px;
  padding-bottom: 10px;
}

.itemlists ul .list .img-price .price .price {
  display: flex;
  align-items: center;
  font-size: calc(100vw * 0.0615);
  font-family: "DNP ShueiNMinStd";
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.16em;
  margin-top: -7px;
}

.itemlists ul .list .img-price .price .price img {
  width: calc(100vw * 0.08);
  height: calc(100vw * 0.08);
}

.itemlists ul .list .img-price .price .price span {
  font-size: calc(100vw * 0.09);
  font-family: "DNP ShueiNMinStd";
  font-weight: bold;
  font-style: italic;
  color: red;
  line-height: 1.2;
  letter-spacing: 0.04em;
  margin: 0 3px 0 5px;

}
.empty-item{
  margin: 1rem 0;
  padding: 2rem;
  color: #444;
  background-color: #f0f0f0;
  text-align: center;
  font-family: "DNP ShueiNMinStd";
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.16em;
  font-size: 12px;
}


/***************:/
/**
期限
**/
.time-limit {
  display: flex;
  align-items: center;
  margin-top: 9px;
}

.time-limit img {
  width: calc(100vw * 0.08);
  height: calc(100vw * 0.08);
}

.time-limit .date {
  margin: 9px 0 0 9px;
  font-size: 16px;
  font-family: "DNP ShueiNMinStd";
  font-weight: bold;
  font-style: italic;
  color: rgb(82, 47, 96);
  line-height: 0.938;
  letter-spacing: 0.06em;
}

/**
編集・削除ボタン
**/
.itemlists .li-btns {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: -3%;
  z-index: 3;

}

.itemlists .li-btns .edit-button {
  display: block;
  margin-right: 12px;

}

.itemlists .li-btns .edit-button img {
  width: calc(100vw * 0.09);
  height: calc(100vw * 0.14);

}

.itemlists .li-btns .delete-button {
  border: none;
  background-color: transparent;

}

.itemlists .li-btns .delete-button img {
  width: calc(100vw * 0.08);
  height: calc(100vw *0.12);

}

.order {
  display: none;
}