html{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: none;
  /*background-image: linear-gradient(90deg, #c1b4c6 50%, #ecd0d4 50%);*/
  background-color: white;
  background-size: 100px 100px;
  overflow-x: hidden;
  overflow-y: scroll;
}
body{
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto 152px;
  background-color: #FFFFFF;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  
}

/*************メインビジュアル**************************************************/
.mainvisual-image{
  position: relative;
  margin: 12px 0 0 0;
  padding: 0;
  width: 100vw;
  height: 35vh;
  overflow: hidden;
  
}
.mainvisual-image .background_semitransparent{
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;

}
.mainvisual-image p{
  font-size: 16px;
  font-family: "DNP ShueiNMinStd";
  font-weight: bold;
  color: rgb(255, 255, 255);
  position: absolute;
  left:10px;
  letter-spacing: 0.02em;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

     
}
.mainvisual-image ul{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
}
.mainvisual-image .main-visual-li{
  opacity: 0;
}
.mainvisual-image .show{
  opacity: 1;
}
.mainvisual-image img{
  width: 100vw;
  height: 35vh;
}
/**********************サイト説明**************************/
.description {
  text-align: left;
  width: 100vw;
}

.description h2{
  display: inline-block;
  font-size: 13.56px;
  text-align: left;
  color: #07441e;
  letter-spacing: 0.16em;
  margin-top: 16px;
  margin-left: 2px;
  position: relative;
 
}
.description h2::before{
  content: "";
  display: inline-block;
  width: 97%;
  height: 0px;
  border: 4px solid #0a1369;
  position: absolute;
  left: -1%;
  top: 100%;
  margin-top: 7px;
  
}
.description h2::after {
  content: "";
  display: inline-block;
  width: 22.6%;
  height: 0px;
  border: 4px solid #7b79f8;
  position: absolute;
  left: -1%;
  top: 100%;
  margin-top: 7px;

}
.description .image{
  margin-top: 18px;
}
.description .image img {
  width: 100vw;
}
.description .message{
  font-size: 12.54px;
  font-family: "DNP ShueiNMinStd";
  color: rgb(7, 68, 30);
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 1.406;
  letter-spacing: 0.16em;
  text-align: left;
    
}
/**********************サイトメリット********************************/
.site-merit {
  width: 100%;
  margin: 0;
  padding: 0 0 1rem 0;
  text-align: center;
}
.site-merit h2{
  font-size: 13.56px;
  display: inline-block;
  font-family: "DNP ShueiNMinStd";
  font-weight: bold;
  color: rgb(10, 19, 105);
  line-height: 1.2;
  letter-spacing: 0.16em;
  position: relative;
      
}
.site-merit h2::before {
  content: "";
  display:block;
  width: 95%;
  height: 0px;
  border: 4px solid #0a1369;
  position: absolute;
  left: -1%;
  top: 100%;
  margin-top: 9px;
}
.site-merit h2::after {
  content: "";
  display: block;
  width: 50%;
  height: 0px;
  border: 4px solid #7b79f8;
  position: absolute;
  left: -1%;
  top: 100%;
  margin-top: 9px;
}

.site-merit .image  {
  margin-top: 24px;
  margin-bottom: 90px;

}
.site-merit .image img {
  width: 100%;

}
/*ユーザーメリット*/
.user-merit {
  width: 75.1%;
  margin: -4rem auto 87px;
  border: 5px solid #522f60;
  border-radius: 6px;
  position: relative;
}

.user-merit span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45.1%;
  text-align: center;
  background-color: white;
  color: #522f60;
  position: absolute;
  top: -1.8rem;
  left: 50%;
  transform: translateX(-50%);

}

.user-merit span h3 {
  font-size: 11.74px;
  font-family: "DNP ShueiNMinStd";
  color: rgb(82, 47, 96);
}
.user-merit span svg{
  width: 20px;
  height: 20px;
}

.user-merit ul {
  counter-reset: ct;
  list-style: none;
  text-align: left;
  margin: 0;
  width: 100%;
  padding: 26px 0;
}

.user-merit ul li {
  font-size: 9.78px;
  font-family: "DNP ShueiNMinStd";
  color: rgb(82, 47, 96);
  line-height: 1.2;
  text-align: left;
  margin-bottom: 20px;
 

}

.user-merit ul li:last-child {
  margin-bottom: 0;

}

.user-merit ul li::before {
  counter-increment: ct;
  content: counter(ct);
  color: white;
  display: inline-block;
  font-size: 9.78px;
  text-align: center;
  line-height: 1.5;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #522f60;
}

/* 店舗ユーザー*/
.shop-merit {
  width: 75.1%;
  margin: -3rem auto 87px;
  border: 5px solid #522f60;
  border-radius: 6px;
  position: relative;
}

.shop-merit span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45.1%;
  text-align: center;
  background-color: white;
  color: #522f60;
  position: absolute;
  top: -1.8rem;
  left: 50%;
  transform: translateX(-50%);

}

.shop-merit span h3 {
  font-size: 11.74px;
  font-family: "DNP ShueiNMinStd";
  color: rgb(82, 47, 96);
}

.shop-merit span svg {
  width: 20px;
  height: 20px;
}

.shop-merit ul {
  counter-reset: ct;
  list-style: none;
  text-align: left;
  margin: 0;
  width: 100%;
  padding: 26px 0;
  box-sizing: border-box;
}

.shop-merit ul li {
  font-size: 9.78px;
  font-family: "DNP ShueiNMinStd";
  color: rgb(82, 47, 96);
  line-height: 1;
  text-align: left;
  margin-bottom: 20px;
  width: 83.5%;
  position: relative;
  padding-left: .5em;
  text-indent: -1.5em;
  margin-left: 1em;
}

.shop-merit ul li:last-child {
  margin-bottom: 0;

}

.shop-merit ul li::before {
  counter-increment: ct;
  content: counter(ct);
  color: white;
  font-size: 9.78px;
  width: 15px;
  height:15px;
  padding: 3px 5px;
  border-radius: 50%;
  background-color: #522f60;
  
  
}
/**************************おすすめ商品************************************************/
.items {
  background-image: url(./image/center-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #c0c0c0;
  width: calc(100vw - 2px);
  margin-top: -4.54rem;
  margin-bottom: calc(8rem + 4px );

}
items .item-background {
  background-color: white;
  border: 1px solid #f0f0f0;
  margin: 0 auto 44px;
  width: 100%;
}
.items h2 {
  font-size: 13.66px;
  font-weight: bold;
  display: inline-block;
  font-family: "DNP ShueiNMinStd";
  color: #517c61;
  letter-spacing: 0.16em;
  text-align: center;
  position: relative;
}
.item-background h2::before {
  content: "";
  display: inline-block;
  width: 92%;
  border: 3px solid #4c4c4c;
  position: absolute;
  left: 0;
  top: 100%;

}

.item-background h2::after {
  content: "";
  display: inline-block;
  width: 50%;
  border: 3px solid #a2a1fa;
  position: absolute;
  left: 0;
  top: 100%;
}
.item-background ul {
  margin: px auto;
  list-style: none;
  width: 90%;
}
.item-background ul li {
  background-color: #f6f5de;
  border-radius: 6px;
  object-fit: cover;
  width: 90%;
  box-shadow: 0 5px 4px 0 rgba(82, 47, 96, 0.53);
  margin-bottom: 54px;
  padding-bottom: 20px;
}
.item-background ul li img {
  border-radius: 6px 6px 0 0;
  width: 100%;
  height: 200px;
}
.item-background ul li .item-name {
  font-size: 25.48px;
  font-family: "DNP ShueiNMinStd";
  font-weight: bold;
  color: rgb(32, 12, 12);
  line-height: 1.2;
  letter-spacing: 0.11em;
  margin: -2px 0 -1rem 0;
}
.item-background ul li .item-price {
  display: flex;
  font-size: 25.48px;
  font-family: "DNP ShueiNMinStd";
  font-weight: bold;
  color: rgb(32, 12, 12);
  letter-spacing: 0.11em;
  align-items: center;
  margin-top: 28px;
}
.item-background ul li .item-price span {
  font-size: 39px;
  font-family: "DNP ShueiNMinStd";
  font-style: italic;
  font-weight: bold;
  color: rgb(255, 0, 0);
  letter-spacing: 0.11em;
  line-height: 1.66;

}

.item-background ul li .item-shop {
  font-size: 25.48px;
  font-family: "DNP ShueiNMinStd";
  font-weight: bold;
  color: rgb(32, 12, 12);
  letter-spacing: 0.11em;
  margin-top: -23px;

}
.item-background ul li a {
  background-color: #21e118;
  border-radius: 6px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 43px;
  margin: -16px  auto 3px ;
}

.item-background ul li a img {
  width: 21px;
  height: 21px;
}

.item-background ul li a:hover {
  background-color: lightgreen;

}
 