/***********ヘッダー******************/
header::after {
  border-bottom: 1px solid #c0c0c0;
  content: "";
  display: block;
  width: 100%;
  margin-top: 8px;
 
 }
 article{
   width: 980px;
   margin: 0 auto;
   padding: 0;
   position: relative;
 }
 /*
 */
 /******************************タイトル*******************************************************/
 .title{
   align-items: center;
   display: flex;
   justify-content: center;
   margin: 19px 0 -5px 0;
   width: 100%;
  
   
 }
 .title img{
   width: 80px;
   height: 80px;
 }
 .title h1{
   font-size: 45px;
   font-family: "DNP ShueiNMinStd";
   color: rgb(7, 68, 30);
   letter-spacing: 0.16em;
   margin-left: 1rem;
 }
 .title-info{
   font-size: 16px;
   font-family: "DNP ShueiNMinStd";
   color: rgb(7, 68, 30);
   margin: 0 auto;
   letter-spacing: 0.16em;
   width: 756px;
 }
 .search{
   align-items: center;
   display: flex;
   margin: 43px auto 0;
   width: 756px;
   position: relative;
 }
 .search form{
   display: flex;
   align-items: center;
 }
 .search form input[type="text"]{
    border: 1px solid #c0c0c0;
    border-radius: 0px;
    font-size: 16px;
    font-family: "DNP ShueiNMinStd";
    width: 415px;
    height: 43px;
 }
 .search form input[type="text"]:focus {
   outline: none;
   background-color: pink;
   
 }
 .search form input[type="submit"]{
   color: rgb(255, 255, 255);
   font-size: 12px;
   font-family: "DNP ShueiNMinStd";
   margin-right: 30px;
   width: 100px;
   height: 47px;
   background-color: #522f60;
   border: none;   
   border-radius: 0px;
 }
 .map-button{
   background-color: #522f60;
   border-radius: 0px;
   border: none;
   color: rgb(255, 255, 255);
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 12px;
   font-family: "DNP ShueiNMinStd";
   width: 155px;
   height: 47px;
      
 }
 /****************************商品エリア*****************************************************************************/
 .items-session{
   width: 980px;
   margin: 68px 0 0 0;
 }
 .items-session ul{
   display: flex;
   flex-wrap: wrap;
   margin: 0;
   margin-left: 15px;
   padding: 0;
   list-style: none;
   width: 100%;
 }
 .items-session ul .list{
   background-color: #f6f5de;
   border: 1px solid #e5e5e5;
   border-top: none;
   border-radius: 4px;
   margin-right: 30px;
   margin-top: 30px;
   width: 213px;
   padding-bottom: 8px;
 
 }
 .items-session ul .list .img{
   width: 214px;
   height: 150px;
   margin-left: -1px;
 }
 
 .items-session ul .list .items, .items-session ul .list .price, .items-session ul .list .shop{
   font-size: 20px;
   font-family: "DNP ShueiNMinStd";
   font-weight: bold;
   color: rgb(4, 4, 4);
   letter-spacing: 0.16em;
   margin-top: -4px;
 }
 .items-session ul .list .items{
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
 }
 .items-session ul .list .price{
   padding-top: 3px;
 }
 .items-session ul .list .shop {
   padding-top: 8px;
 }
 .items-session ul .list .price span{
   font-size: 29px;
   font-family: "DNP ShueiNMinStd";
   font-style: italic;
   font-weight: bold;
   color: rgb(255, 0, 0);
   line-height: 1.2;
   letter-spacing: 0.04em;
   margin-right: 7px;
 }
 .items-session ul .list a{
   background-color: #21e118;
   display: flex;
   font-size: 16px;
   font-family: "DNP ShueiNMinStd";
   color: rgb(255, 255, 255);
   align-items: center;
   justify-content: center;
   width: 208px;
   height: 40px;
   margin: 0 auto;
   text-decoration: none;
   line-height: 1.2;
   letter-spacing: 0.16em;
   margin-top: 4px;
 }
 
 .items-session .pagination{
   display: flex;
   background-color: transparent !important;
   margin-top: 34px;
   margin-bottom: 70px;
 }
 .items-session .pagination li  {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: none;
   border-radius: 50%;
   margin-right: 3px;
 }
 .items-session .pagination li a{
   align-items: center;
   display: flex;
   font-size: 9px;
   width: 50px;
   height: 50px;
   background-color: #c0c0c0;
   border-radius: 50%;
   color: #335862;
   text-decoration: none;
   justify-content: center;
 }
 .items-session .pagination li .select-page{
    background-color: #0000ff;
    color: #ddddff;
 }
 /******************************************地図関連***************************************************************************/
 .map{
  width: 980px;
  height: 100vh;
  background-color: white;
  border: 1px solid #c0c0c0;
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  transition: .4s;
  overflow-y: scroll;
  
 }
 .map-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 1rem;
 }
 .map-buttons{
  display: flex;
  align-items: center;
 }
 .all-area-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #522f60;
  text-decoration: none;
  color: white;
  padding: .5rem 1rem;
  margin-right: 10px;
 }
 .all-area-button:hover {
   opacity: 0.7;
 }
 .close-map{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c0c0c0;
    border: none;
    color: white;
    padding: .6rem 1rem;
    border: 1px solid #c0c0c0;
 }


 #open{
  display: none;
 }
 #open:checked ~ .map{
  opacity: 1;
  left: -15%;
 }
 .map-content{
  width: 70%;
  margin: 0 auto;
  overflow: scroll;
 }
 /****************************マップのsvg関連******************************************************************************/
.cls-1 {
  fill: #a0c882;
}

.cls-2 {
  fill: #bbdced;
}
